<h1>Welcome to Survey Gorilla, <%= @user.name %>!</h1>

<ul>
  <li><a href="/create_survey/<%= @user.id %>">Create Survey</a></li>
  <li><a href="/take_survey/<%= @user.id %>">Take Survey</a></li>
</ul>

<h2>Your Created Surveys</h2>
<!-- prints out all the surveys created by user -->
<% @surveys.each do |survey| %>
  <a href="#"><%= survey.title %></a><br>
<% end %>

<h2>Your Answered Surveys</h2>
<!-- prints out all the surveys to which user has responded -->



