<div class="login">
  <form action="/login" method="post">
    <p><input type="text" placeholder="E-Mail"></p>
    <p><input type"password" placeholder="Password">
    <input type="submit" value="Log in">
  </form>
</div>
