<div>
  <p>Survey Name: <%= @survey.title %></p>

  <% @question_bank.each do |survey| %>
  <%= survey.question %>
  <% @answer_bank.each do |question| %>
  <%= question.answer %>
  <%end%>
  <% end %>
</div>
